<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.springframework.org/schema/beans"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:jpa="http://www.springframework.org/schema/data/jpa"
      xsi:schemaLocation="http://www.springframework.org/schema/beans
                          https://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/context
                          https://www.springframework.org/schema/context/spring-context.xsd
                          http://www.springframework.org/schema/data/jpa
                          https://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
   <!-- Enable annotation configuration (for @Autowired, @Component, etc.) -->
   <context:annotation-config />
   <!-- Enable component scanning for the specified base package -->
   <context:component-scan base-package="com.codegnan" />
   <!-- Enable Spring Data JPA repositories in the specified base package -->
   <jpa:repositories base-package="com.codegnan.repo" />
   <!-- DataSource configuration for MySQL -->
   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
       <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
       <property name="url" value="jdbc:mysql://localhost:3306/jpa_4" />
       <property name="username" value="root" />
       <property name="password" value="Sai@23112002" />
   </bean>
   <!-- Hibernate JPA Vendor Adapter -->
   <bean id="vendor" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
       <property name="generateDdl" value="true" />
       <property name="showSql" value="true" />
   </bean>
   <!-- EntityManagerFactory configuration -->
   <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
       <property name="dataSource" ref="dataSource" />
       <property name="jpaVendorAdapter" ref="vendor" />
       <property name="packagesToScan" value="com.codegnan.entity" />
       <property name="jpaProperties">
           <props>
               <prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
               <!--  <prop key="hibernate.hbm2ddl.auto">create</prop> -->
               <prop key="hibernate.hbm2ddl.auto">create</prop>
           </props>
       </property>
   </bean>
   <!-- JpaTransactionManager configuration -->
   <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
       <property name="entityManagerFactory" ref="entityManagerFactory" />
   </bean>
</beans>